{% extends 'layout.html' %}

{% block title %}
    Agregar centro de costos
{% endblock  %}

{% block body %}
    <h1>Agregar un Movimiento de plantilla nuevo</h1>
    <div class="formulario">
        <form action="{%url 'pushMovimientoPlantilla'%}" method="post">
            {% csrf_token %}
            Concepto: <input type="text" class="form-control" id="Conceptos" name="Conceptos"></br>
            Prioridad: <input type="text" class="form-control" id="Prioridad" name="Prioridad"></br>
            <div class="form-group">
                Tipo de operacion: <select name="TipoOperacion">
                    {% for data in operacion %}
                        <option>{{data.CodigoTipooperacion}}</option>
                    {% endfor %}
                </select>
            </div></br>
            Cuenta 1: <input type="text" class="form-control" id="Cuenta1" name="Cuenta1"></br>
            Cuenta 2: <input type="text" class="form-control" id="Cuenta2" name="Cuenta2"></br>
            Cuenta 3: <input type="text" class="form-control" id="Cuenta3" name="Cuenta3"></br>
            Cuenta 4: <input type="text" class="form-control" id="Cuenta4" name="Cuenta4"></br>
            Tipo de Movimiento de excepcion 1
            <div class="form-group">
                Tipo de operacion: <select name="MovimientoExcepcion1">
                    {% for data in excepcion %}
                        <option>{{data.CodigoMovimientoExce}}</option>
                    {% endfor %}
                </select>
            </div></br>
            Tipo de Movimiento de excepcion 2 
            <div class="form-group">
                Tipo de operacion: <select name="MovimientoExcepcion2">
                    {% for data in excepcion %}
                        <option>{{data.CodigoMovimientoExce}}</option>
                    {% endfor %}
                </select>
            </div></br>
            Tipo de Movimiento de excepcion 3
            <div class="form-group">
                Tipo de operacion: <select name="MovimientoExcepcion3">
                    {% for data in excepcion3 %}
                        <option>{{data.CodigoMovimientoExce}}</option>
                    {% endfor %}
                </select>
            </div></br>
            Trabajador Aplica a IESS
            <div class="form-group">
                Tipo de operacion: <select name="Traba_Aplica_iess">
                    {% for data in traba %}
                        <option>{{data.CodigoMovimientoExce}}</option>
                    {% endfor %}
                </select>
            </div></br>
            Aplica Impuesto a la renta
            <div class="form-group">
                Tipo de operacion: <select name="Traba_Proyecto_imp_renta">
                    {% for data in afecta %}
                        <option>{{data.CodigoMovimientoExce}}</option>
                    {% endfor %}
                </select>
            </div></br>
            Aplica proyecto renta: <input type="text" class="form-control" id="Aplica_Proy_Renta" name="Aplica_Proy_Renta" value="{{datos.Aplica_Proy_Renta}}"></br>
            Empresa Afecta Iess: <input type="text" class="form-control" id="Empresa_Afecta_Iess" name="Empresa_Afecta_Iess" value="{{datos.Empresa_Afecta_Iess}}"></br>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
{% endblock  %}