{% extends 'layout.html' %}

{% block title %}
    Agregar centro de costos
{% endblock  %}

{% block body %}
    <h1>Agregar un centro de costos nuevo</h1>

    <form action="{%url 'pushCentroCostos'%}" method="post">
        {% csrf_token %}
        Ingresar codigo de centro de costos: <input type="text" name="codigo" placeholder="Codigo"><br>
        Ingresar descripcion de centro de costos: <input type="text" name="descripcion" placeholder="Descripcion"><br>
        <button type="submit" class="btn-primary">Agregar<img src="https://i.ibb.co/jydyV2j/add-plus-circle-svgrepo-com.png" height="25px" width="25px"/></button>
    </form>
{% endblock  %}