{% extends 'layout.html' %}

{% block title %}
    Centro de costos
{% endblock  %}

{% block body %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre de centro de costos</th>
                <th scope="col">Mensaje</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for datos in data %}
                <tr>
                    <th scope="row">{{datos.Codigo}}</th>
                    <td>{{datos.NombreCentroCostos}}</td>
                    <td>{{datos.Mensaje}}</td>
                    <form action="{%url 'eliminar' datos.Codigo datos.NombreCentroCostos%}" method="POST">
                        {% csrf_token %}
                        <td><button type="submit" class="btn btn-danger">Eliminar</button></td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{%url 'agregar'%}" class="btn btn-primary">Agregar</a>
{% endblock  %}