{% extends 'layout.html' %}

{% block title %}
    Editar el campo
{% endblock  %}

{% block body %}
    <h3>Editar el campo del codigo: {{datos.CodigoConcepto}}</h3>

    <form action="#" method="POST">
        {% csrf_token %}
        <div class="form-group">
            Codigo: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.CodigoConcepto}}">
            Concepto: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.Concepto}}">
            Prioridad: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.Prioridad}}">
            Tipo de operacion: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.TipoOperacion}}">
            Cuenta 1: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.Cuenta1}}">
            Cuenta 2: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.Cuenta2}}">
            Cuenta 3: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.Cuenta3}}">
            Cuenta 4: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.Cuenta4}}">
            Movimiento Excepcion 1: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.MovimientoExcepcion1}}">
            Movimiento Excepcion 2: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.MovimientoExcepcion2}}">
            Movimiento Excepcion 3: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.MovimientoExcepcion3}}">
            Aplica IESS: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.Aplica_iess}}">
            Aplica Impuesto a la renta: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.Aplica_imp_renta}}">
            Empresa Afecta Iess: <input type="text" class="form-control" id="Codigo" name="Codigo" value="{{datos.Empresa_Afecta_Iess}}">
        </div>
    </form>
{% endblock  %}