{% extends 'layout.html' %}

{% block title %}
    Editar el campo
{% endblock  %}

{% block tituloprincipal %}
    <h3>Editar el campo del codigo: {{data.Codigo}}</h3>
{% endblock %}

{% block body %}
    <div class="formulario">
        <form action="{%url 'edit' data.Codigo%}" method="post">
            {% csrf_token %}
            <input type="text" name="descripcion" value="{{data.NombreCentroCostos}}" placeholder="Descripcion" required>
            <button type="submit">Editar<img src="https://i.ibb.co/yS3QgtW/edit-svgrepo-com.png" height="25px" width="25px"/></button>
        </form>
    </div>
{% endblock  %}