{% extends 'layout.html' %}

{% block title %}
    Trabajadores
{% endblock  %}

{% block tituloprincipal %}
    <h1>Trabajadores</h1>
{% endblock %}

{% block buscar %}
Buscar trabajadores:
    <form action="{% url 'buscartrabajador' id%}" method="post">
        {% csrf_token %}
        <input type="text" name="Codigo" placeholder="Codigo de trabajador">
        <button type="submit" class="btn btn-primary">Buscar<img src="https://i.ibb.co/3MmNhz5/search-svgrepo-com.png" height="25px" width="25px"/></button>
    </form>
{% endblock %}

{% block agregar %}
    <a href="{% url 'PagTrabajadoresCreate' id %}" class="btn btn-success">Agregar<img src="https://i.ibb.co/jydyV2j/add-plus-circle-svgrepo-com.png" height="25px" width="25px"/></a>
{% endblock %}

{% block body %}
    <!--Aqui sale un monton de numeros, sin explicacion alguna-->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">COMP_Codigo</th>
                <th scope="col">Id_Trabajador</th>
                <th scope="col">Tipo_trabajador</th>
                <th scope="col">Apellido_Paterno</th>
                <th scope="col">Apellido_Materno</th>
                <th scope="col">Nombres</th>
                <th scope="col">Identificacion</th>
                <th scope="col">Entidad_Bancaria</th>
                <th scope="col">CarnetIESS</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono_Fijo</th>
                <th scope="col">Telefono_Movil</th>
                <th scope="col">Genero</th>
                <th scope="col">Nro_Cuenta_Bancaria</th>
                <th scope="col">Codigo_Categoria_Ocupacion</th>
                <th scope="col">Ocupacion</th>
                <th scope="col">Centro_Costos</th>
                <th scope="col">Nivel_Salarial</th>
                <th scope="col">EstadoTrabajador</th>
                <th scope="col">Tipo_Contrato</th>
                <th scope="col">Tipo_Cese</th>
                <th scope="col">EstadoCivil</th>
                <th scope="col">TipodeComision</th>
                <th scope="col">FechaNacimiento</th>
                <th scope="col">FechaIngreso</th>
                <th scope="col">FechaCese</th>
                <th scope="col">PeriododeVacaciones</th>
                <th scope="col">FechaReingreso</th>
                <th scope="col">Fecha_Ult_Actualizacion</th>
                <th scope="col">EsReingreso</th>
                <th scope="col">BancoCTA_CTE</th>
                <th scope="col">Tipo_Cuenta</th>
                <th scope="col">RSV_Indem_Acumul</th>
                <th scope="col">Año_Ult_Rsva_Indemni</th>
                <th scope="col">Mes_Ult_Rsva_Indemni</th>
                <th scope="col">FormaCalculo13ro</th>
                <th scope="col">FormaCalculo14ro</th>
                <th scope="col">BoniComplementaria</th>
                <th scope="col">BoniEspecial</th>
                <th scope="col">Remuneracion_Minima</th>
                <th scope="col">CuotaCuentaCorriente</th>
                <th scope="col">Fondo_Reserva</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for datos in data %}
                <tr>
                    <th scope="row">{{datos.COMP_Codigo}}</th>
                    <td>{{datos.Id_Trabajador}}</td>
                    <td>{{datos.Tipo_trabajador}}</td>
                    <td>{{datos.Apellido_Paterno}}</td>
                    <td>{{datos.Apellido_Materno}}</td>
                    <td>{{datos.Nombres}}</tde=>
                    <td>{{datos.Identificacion}}</tdcope=>
                    <td>{{datos.Entidad_Bancaria}}</td>
                    <td>{{datos.CarnetIESS}}</td=>
                    <td>{{datos.Direccion}}</td>
                    <td>{{datos.Telefono_Fijo}}</td>
                    <td>{{datos.Telefono_Movil}}</td=>
                    <td>{{datos.Genero}}</td=>
                    <td>{{datos.Nro_Cuenta_Bancaria}}</tdpe=>
                    <td>{{datos.Codigo_Categoria_Ocupacion}}</tdcope=>
                    <td>{{datos.Ocupacion}}</td>
                    <td>{{datos.Centro_Costos}}</tdscope=>
                    <td>{{datos.Nivel_Salarial}}</tde=>
                    <td>{{datos.EstadoTrabajador}}</td=>
                    <td>{{datos.Tipo_Contrato}}</tdcope=>
                    <td>{{datos.Tipo_Cese}}</td>
                    <td>{{datos.EstadoCivil}}</td>
                    <td>{{datos.TipodeComision}}</td=>
                    <td>{{datos.FechaNacimiento}}</td=>
                    <td>{{datos.FechaIngreso}}</td>
                    <td>{{datos.FechaCese}}</td=>
                    <td>{{datos.PeriododeVacaciones}}</td>
                    <td>{{datos.FechaReingreso}}</td=>
                    <td>{{datos.Fecha_Ult_Actualizacion}}</td>
                    <td>{{datos.EsReingreso}}</tdcope=>
                    <td>{{datos.BancoCTA_CTE}}</td>
                    <td>{{datos.Tipo_Cuenta}}</td=>
                    <td>{{datos.RSV_Indem_Acumul}}</tdpe=>
                    <td>{{datos.Año_Ult_Rsva_Indemni}}</td>
                    <td></td>{{datos.Mes_Ult_Rsva_Indemni}}</td=>
                    <td>{{datos.FormaCalculo13ro}}</tdcope=>
                    <td>{{datos.FormaCalculo14ro}}</td=>
                    <td>{{datos.BoniComplementaria}}</tdcope=>
                    <td>{{datos.BoniEspecial}}</td>
                    <td>{{datos.Remuneracion_Minima}}</tdpe=>
                    <td>{{datos.CuotaCuentaCorriente}}</td=>
                    <td>{{datos.Fondo_Reserva}}</td>
                    <td><a class="btn btn-primary" href="{% url 'trabajadoresupdate' id datos.Id_Trabajador %}">Editar<img src="https://i.ibb.co/yS3QgtW/edit-svgrepo-com.png" height="25px" width="25px"/></a>
                        <a class="btn btn-danger" href="{% url 'trabajadoresDelete' id datos.Id_Trabajador %}">Eliminar<img src="https://i.ibb.co/JmRz9Kh/delete-2-svgrepo-com.png" height="25px" width="25px"/></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}