{% extends 'layout.html' %}

{% block title %}
    Busqueda de informacion
{% endblock  %}

{% block tituloprincipal %}
    <h1>Busqueda de informacion</h1>
{% endblock %}

{% block body %}
    <div>
        <hr>
            COMP_Codigo: {{data2.COMP_Codigo}}</br>
            Id_Trabajador: {{data2.Id_Trabajador}}</br>
            Apellido_Paterno: {{data2.Apellido_Paterno}}</br>
            Apellido_Materno: {{data2.Apellido_Materno}}</br>
            Nombres: {{data2.Nombres}}</br>
            Identificacion: {{data2.Identificacion}}</br>
            Entidad_Bancaria: {{data2.Entidad_Bancaria}}</br>
            CarnetIESS: {{data2.CarnetIESS}}</br>
            Direccion: {{data2.Direccion}}</br>
            Telefono_Fijo: {{data2.Telefono_Fijo}}</br>
            Telefono_Movil: {{data2.Telefono_Movil}}</br>
            Genero: {{data2.Genero}}</br>
            Nro_Cuenta_Bancaria: {{data2.Nro_Cuenta_Bancaria}}</br>
            Codigo_Categoria_Ocupacion: {{data2.Codigo_Categoria_Ocupacion}}</br>
            Ocupacion: {{data2.Ocupacion}}</br>
            Centro_Costos: {{data2.Centro_Costos}}</br>
            Nivel_Salarial: {{data2.Nivel_Salarial}}</br>
            EstadoTrabajador: {{data2.EstadoTrabajador}}</br>
            Tipo_Contrato: {{data2.Tipo_Contrato}}</br>
            Tipo_Cese: {{data2.Tipo_Cese}}</br>
            EstadoCivil: {{data2.EstadoCivil}}</br>
            TipodeComision: {{data2.TipodeComision}}</br>
            FechaNacimiento: {{data2.FechaNacimiento}}</br>
            FechaIngreso: {{data2.FechaIngreso}}</br>
            FechaCese: {{data2.FechaCese}}</br>
            PeriododeVacaciones: {{data2.PeriododeVacaciones}}</br>
            FechaReingreso: {{data2.FechaReingreso}}</br>
            Fecha_Ult_Actualizacion: {{data2.Fecha_Ult_Actualizacion}}</br>
            EsReingreso: {{data2.EsReingreso}}</br>
            Tipo_Cuenta: {{data2.Tipo_Cuenta}}</br>
            FormaCalculo13ro: {{data2.FormaCalculo13ro}}</br>
            FormaCalculo14ro: {{data2.FormaCalculo14ro}}</br>
            BoniComplementaria: {{data2.BoniComplementaria}}</br>
            BoniEspecial: {{data2.BoniEspecial}}</br>
            Remuneracion_Minima: {{data2.Remuneracion_Minima}}</br>
            Fondo_Reserva: {{data2.Fondo_Reserva}}</br>
            Mensaje: {{data2.Mensaje}}</br>
        </hr>
    </div>
{% endblock  %}